.image{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    align-items: center;
}
.one{
    display: flex;
    justify-content: stretch;
    width: 90%;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color:#BFC8EF ;
    font-size: 20px;
}